body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
nav{
    background-color: #ffffff !important;
    /* height: 160.81px !important; */
}
.nav{
    width: 80% !important;
}
nav a{
    color:#272A37 !important;
    font-size: 14px !important;
}
.post{
    background-color: #14B45C !important;
    color: #fff !important;
    text-transform: capitalize !important;
    height: 40px !important;
}
#first{
    background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
}
#first .second{
    width: 90%;
}
#first .input-field .browser-default{
    background: #FFFFFF;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;   
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
}
#first .input-field input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.palette{
    position: absolute;
    width: 155px;
    height: 140px;
    left: 70px;
    top: 100px;
    background: url(images/Palette.png);
}
.back1{
    position: absolute;
    width: 198px;
    height: 214px;
    left: 1100px;
    top: 100px;
    background: url(images/bacgr.png);
}
.arc{
    position: absolute;
    width: 40px;
    height: 34px;
    left: 930px;
    top: 680px;
    background: url(images/arc.png);

}
#second{
    background: #f5f7fa;
    padding-bottom: 40px;
    margin-top: -23px;
}
#second .second{
    width: 80%;
}
@media only screen and (min-width: 993px){
.row .col.l3 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
#second h4{
    text-align: center;
    line-height: 40px;
    color: #1C1F28;
    padding: 50px;
}
#second .illustrations{
    background: #ffffff;
}
#second .illus{
    height: 190.33px;
}
#second .illustrations img{
    margin-top: 60px;
    margin-left: 37px;
}
#second .illustrations p{
    margin-top: 10px;
    margin-left: 37px;
    padding-bottom: 50px;
    font-weight: 600;
    line-height: 28px;
    color: #1C1F28;
}
#second .mobile{
    background: #ffffff;
}
#second .mobile img{
    margin-top: 50px;
    margin-left: 20px;
}
#second .mobile p{
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #1C1F28;
}
#second .illust{
    height: 171px;
}
.paint{
    position: absolute;
    width: 316px;
    height: 257px;
    left: 1000px;
    top: 650px;
    background: url(images/Fill.png);
}
.hand{
    position: absolute;
    width: 241px;
    height: 173px;
    left: 20px;
    top: 1530px;
    background: url(images/Paperhand.png);
}
#works{
    background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
    padding-bottom: 80px;
}
#works .second{
    width: 80%;
}
#works h4{
    text-align: center;
    line-height: 40px;
    color: #1C1F28;
    padding: 30px;
}
#works .postJob{
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
    padding: 40px;
    height: 252px;
}
#works .icon-box{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(245, 245, 247);
    /* opacity: 0.1; */
    z-index: -1;
}
#works .icon-box img{
    width: 23px;
    height: 20px;
    margin-top: 20px;
    margin-left: 19px;
    z-index: 1;
}
#works .postJob p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #1C1F28;
}
#works #describe{
    color: #7a7c82;
    line-height: 24px;
    font-size: 14px;
}
#works .one{
    margin-top: 5px; 
    margin-left:60px; 
    color: #c4c4c4;
    font-size: 50px;
}
#works .laptop{
    background-color: #D14137;
    width: 200px;
    height: 252px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1)
}
#works .laptop img{
    margin-top: 50px;
}
#works .laps{
    background-color: #D14137;
    width: 300px;
    height: 580px;
    margin-left: 20px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1)
}
#works .laps img{
    margin-top: 150px;
}
#works .started{
   background-color: #14B45C;
   color: #ffffff;
   box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
   text-transform: capitalize;
   
}
#works .startedDesk{
    background-color: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: capitalize;
    margin-top: 50px;
}
#designers{
    background: #f5f7fa;
    padding-top: 5px;
    padding-bottom: 90px;
}
.oval-left{
    position: absolute;
    right: 95.62%;
    top: 2500px;
    height: 600px;
    left: -26.71%;
    background-repeat: no-repeat;
    background: url(images/Oval-4.png);
}
.oval-right{
    position: absolute;
    top: 2900px;
    left: 95.62%;
    width: 50px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(images/oval-5.png)
}
#designers h4{
    text-align: center;
    line-height: 40px;
    color: #1C1F28;
}
#designers p{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #7A7C82;
    font-weight: 300;
}
#designers .desktop{
    height: 260.38px;
}
#designers .view-more{
    background-color: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: capitalize;
 }
 #designers h4{
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
    color:  #1C1F28;
}
#designers .thumb-pic{
    position: absolute;
    width: 197px;
    height: 165px;
    left: 1000px;
    top: 3270px;
    background: url(images/NeonLike.png);
}
#designers .caroul-color p{
    color: #A1A4AC;
}
#designers .perfect-fit{
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    border-top: 3px solid  #14B45C;
    position: relative;
    z-index: 5;
}
#designers .perfect-fit h6{
    color: #1C1F28;
    text-align: center;
    font-size: 20px;
    padding-top: 45px;
}
#designers .perfect-fit p{
    color: #A1A4AC;
    font-size: 14px;
    line-height: 19px;
}
#designers .perfect-fit .lets-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
    margin-top: -100px;
}
#designers .perfect-fit .mobile-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
}
#designers .perfect-fit .link-style{
    display: flex;
    justify-content: space-evenly;
}
#designers .perfect-fit .link-style a{
    cursor: pointer;
    color: #DADADA;
}
#designers .perfect-fit .link-style a:hover{
    color: #14B45C;
    transition: ease-in 0.5s;
}
#designers .fit{
    width: 90%;
}
#footer{
    background: url(images/footer.png);
    background-size: cover;
    margin-top: -300px;
}
#footer .second{
    padding-top: 330px;
}
#footer .foot{
    width: 80%;
}
#footer .mobile{
    padding-top: 300px;
}

/* Login Page style */
.login{
    background: #F2F3F3;
}
.field-icon {
    position: relative;
    z-index: 2;
    margin-left: -35px;
  }
.input-field .browser-default{
    background: #FFFFFF;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCD1D9;
    border-radius: 4px;
    box-sizing: border-box;   
    box-shadow: inset 1px 1px 3px #CCD1D9;
}
.input-field input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.continue{
    background: #14B45C !important;
    width: 80%;
    color: #ffffff;
    border: 1px solid rgba(122, 125, 128, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(171, 175, 179, 0.6), inset 0px -2px 2px rgba(122, 125, 128, 0.2);
    text-transform: capitalize;
}
.login-side{
    background: #14B45C;
    height: 610.7px;
    /* height: 100vh; */
}
.pix-1{
    position: relative;
    top: 10px;
    text-align: center;
}
.pix-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    left: 1050px;
    top: 130px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
}
.pix2-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    top: 250px;
    left: 760px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    transform: rotate(-15.87deg);
}
.pix-2{
    position: relative;
    top: 10px;
}
.pix3-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    top: 425px;
    left: 1080px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    transform: rotate(7.99deg);
}
.pix-3{
    position: relative;
    top: 10px;
    text-align: center;
}
/* mobile login */
.input-field-mobile .browser-default{
    background: #FFFFFF;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCD1D9;
    border-radius: 4px;
    box-sizing: border-box;   
    box-shadow: inset 1px 1px 3px #CCD1D9;
}

.input-field-mobile input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.continue-mobile{
    background: #14B45C !important;
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    border: 1px solid rgba(122, 125, 128, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(171, 175, 179, 0.6), inset 0px -2px 2px rgba(122, 125, 128, 0.2);
    text-transform: capitalize;
}

/* register page style */