*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
nav{
    background-color: #ffffff !important;
    /* height: 160.81px !important; */
}
.nav{
    width: 80% !important;
}
.no-shadows {
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2)!important;
}
nav a{
    color:#272A37 !important;
    font-size: 14px !important;
}
.post{
    background-color: #14B45C !important;
    color: #fff !important;
    text-transform: capitalize !important;
    height: 40px !important;
    border-radius: 0px !important;
}
#first{
    background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
    padding-bottom: 100px;
    background: url(images/designer-2.png);
    background-size: auto;
    background-position: center top;
}

#first .second{
    width: 90%;
}
#first .home{
    width: 83%;
}
#first .input-field-search input[type=text]{
    background: #FFFFFF;
    width: 75%;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;   
    float: left;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
}
#first .input-field-search button{
    float: left;
    width: 25%;
    padding: 12px 20px;
    border-left: none !important;
    color: white;
    background-color: #14B45C !important;
    border: 1px solid #ccc;
    cursor: pointer;
}
#first .input-field-search input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
#first .input-field input[type=text]{
    background: #FFFFFF;
    width: 80%;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;   
    float: left;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
}
#first .input-field button{
    float: left;
    width: 20%;
    padding: 12px 20px;
    border-left: none !important;
    color: white;
    background-color: #14B45C !important;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 45px;
}
#first .input-field button:hover{
    background-color: #1dbf73!important;
}
#first .input-field input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.palette{
    position: absolute;
    width: 155px;
    height: 140px;
    left: 40px;
    top: 100px;
    background: url(images/Palette.png);
}
.back1{
    position: absolute;
    left: 1000px;
    top: 100px;
}
.arc{
    position: absolute;
    width: 40px;
    height: 34px;
    left: 900px;
    top: 400px;
    background: url(images/arc.png);

}
.home{
    width: 83%;
}
.checkbox-indigo.filled-in[type="checkbox"]:checked + span:after{
    background: #14B45C;
    border: 1px solid #14b45c;
  }
[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 100px;
    line-height: 18px;
    font-size: 16px;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    height: 14px !important;
    width: 14px !important;
    top: 2px !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 2px;
    left: 1px;
    width: 6px;
    height: 8px;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 14px !important;
    width: 14px !important;
    background-color: transparent;
    border: 1px solid #979797;
    top: 2px;
    z-index: 0;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: gray;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.select-wrapper input.select-dropdown {
    /* border: 1px solid gray; */
    border-bottom: 1px solid gray !important;
}
#second{
    background: #f5f7fa;
    padding-bottom: 40px;
    margin-top: -23px;
}
#second .second{
    width: 80%;
}
/* @media only screen and (min-width: 993px){
.row .col.l3 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
} */
.awesome-services{
    width: 20% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
#second h4{
    line-height: 40px;
    color: #1C1F28;
    padding-top: 50px;
    padding-bottom: 20px;
}
#second .illustrations{
    background: #ffffff;
}
#second .illus{
    height: 190.33px;
}
#second .illustrations img{
    margin-top: 60px;
    margin-left: 30px;
}
#second .illustrations p{
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 50px;
    font-weight: 500;
    /* text-align: center; */
    width: 100px;
    line-height: 20px;
    color: #1C1F28;
}
#second .mobile{
    background: #ffffff;
}
#second .mobile img{
    margin-top: 50px;
    margin-left: 20px;
}
#second .mobile p{
    margin-top: 10px;
    /* text-align: center; */
    margin-left: 20px;
    padding-bottom: 50px;
    font-weight: 500;
    width: 100px;
    font-size: 13px;
    line-height: 18px;
    color: #1C1F28;
}
#second .illust{
    height: 171px;
}
.paint{
    position: absolute;
    width: 316px;
    height: 257px;
    left: 1000px;
    top: 650px;
    background: url(images/Fill.png);
}
.hand{
    position: absolute;
    width: 241px;
    height: 173px;
    left: 20px;
    top: 1250px;
    background: url(images/Paperhand.png);
}
#works{
    background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
    padding-bottom: 50px;
}
#works .second{
    width: 80%;
}
#works h4{
    line-height: 40px;
    color: #1C1F28;
    padding: 50px;
}
#works .postJob{
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
    padding: 40px;
    height: 252px;
}
#works .icon-box{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(245, 245, 247);
    /* opacity: 0.1; */
    z-index: -1;
}
#works .icon-box img{
    width: 23px;
    height: 20px;
    margin-top: 20px;
    margin-left: 19px;
    z-index: 1;
}
#works .postJob p{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 28px;
    color: #1C1F28;
}
#works #describe{
    color: #7a7c82;
    line-height: 24px;
    font-size: 14px;
}
#works .one{
    margin-top: 5px; 
    margin-left:60px; 
    color: #c4c4c4;
    font-size: 50px;
}
#works .laptop{
    background-color: #D14137;
    width: 200px;
    height: 252px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1)
}
#works .laptop img{
    margin-top: 50px;
}
#works .laps{
    background-color: #D14137;
    width: 300px;
    height: 525px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1)
}
#works .laps img{
    margin-top: 150px;
}
#works .started{
   background-color: #14B45C;
   color: #ffffff;
   box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
   text-transform: capitalize;
   
}
#works .startedDesk{
    background-color: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: capitalize;
    margin-top: 50px;
}
#designers{
    background: #f5f7fa;
    padding-top: 3px;
    padding-bottom: 90px;
}
#designers .second{
    width: 80%;
}
.oval-left{
    position: absolute;
    right: 95.62%;
    top: 2500px;
    height: 600px;
    left: -26.71%;
    background-repeat: no-repeat;
    background: url(images/Oval-4.png);
}
@media only screen and (max-width: 1300px) {
    .oval-left{
        position: absolute;
        right: 95.62%;
        top: 2500px;
        height: 600px;
        left: -21.71%;
        background-repeat: no-repeat;
        background: url(images/Oval-4.png);
    }  
}
.oval-right{
    position: absolute;
    top: 2900px;
    left: 95.62%;
    width: 50px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(images/oval-5.png)
}
#designers h4{
    text-align: left;
    line-height: 40px;
    color: #1C1F28;
}
#designers p{
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #7A7C82;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 50px;
}
#designers .caroul-color p{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #7A7C82;
    font-weight: 300;
}

#designers .desktop{
    /* height: 326px; */
}
#designers .inspired{
    height: 300px;
}
#designers .view-more{
    background-color: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: capitalize;
 }
 #designers h4{
    text-align: left;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    color:  #1C1F28;
}
#designers .thumb-pic{
    position: absolute;
    width: 197px;
    height: 165px;
    left: 1000px;
    top: 3300px;
    background: url(images/NeonLike.png);
}
#designers .caroul-color p{
    color: #A1A4AC;
    font-size: 15px;
}
#designers .perfect-fit{
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    border-top: 3px solid  #14B45C;
    position: relative;
    z-index: 5;
}
#designers .perfect-fit h6{
    color: #1C1F28;
    text-align: center;
    font-size: 20px;
    padding-top: 45px;
}
#designers .perfect-fit p{
    color: #A1A4AC;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
}
#designers .perfect-fit .lets-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
    margin-top: -100px;
}
#designers .perfect-fit .mobile-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
}
#designers .perfect-fit .link-style{
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}
#designers .perfect-fit .link-style-mobile{
    display: flex;
    justify-content: space-evenly;
    margin-top: -120px;
}
#designers .perfect-fit .link-style-mobile a{
    cursor: pointer;
    color: #DADADA;
}
#designers .perfect-fit .link-style a{
    cursor: pointer;
    color: #DADADA;
}
#designers .perfect-fit .link-style a:hover{
    color: #14B45C;
    transition: ease-in 0.5s;
}
#designers .fit{
    width: 90%;
}
#footer{
    background: url(images/footer.png);
    background-size: cover;
    margin-top: -300px;
    padding-bottom: 20px;
}
#footer .second{
    padding-top: 330px;
}
#footer .foot{
    width: 80%;
}
#footer .mobile{
    padding-top: 250px;
}

/* Login Page style */
.login{
    background: #F2F3F3;
    height: 610.7px;
}
.second{
    width: 90%;
}
.field-icon {
    position: relative;
    z-index: 2;
    margin-left: -35px;
  }
.input-field .browser-default{
    background: #FFFFFF;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCD1D9;
    border-radius: 4px;
    box-sizing: border-box;   
    box-shadow: inset 1px 1px 3px #CCD1D9;
}
.input-field input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.continue{
    background: #14B45C !important;
    width: 80%;
    color: #ffffff;
    border: 1px solid rgba(122, 125, 128, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(171, 175, 179, 0.6), inset 0px -2px 2px rgba(122, 125, 128, 0.2);
    text-transform: capitalize;
}
.login-side{
    background: #14B45C;
    height: 610.7px;
    /* height: 100vh; */
}
.pix-1{
    position: relative;
    top: 10px;
    text-align: center;
}
.pix-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    left: 1030px;
    top: 100px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
}
.pix2-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    top: 250px;
    left: 730px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    transform: rotate(-15.87deg);
}
.pix-2{
    position: relative;
    top: 10px;
}
.pix3-container{
    background: #ffffff;
    position: absolute;
    width: 210px;
    height: 230px;
    top: 420px;
    left: 1030px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    transform: rotate(7.99deg);
}
.pix-3{
    position: relative;
    top: 10px;
    text-align: center;
}
/* mobile login */
.input-field-mobile .browser-default{
    background: #FFFFFF;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCD1D9;
    border-radius: 4px;
    box-sizing: border-box;   
    box-shadow: inset 1px 1px 3px #CCD1D9;
}

.input-field-mobile input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.continue-mobile{
    background: #14B45C !important;
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    border: 1px solid rgba(122, 125, 128, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(171, 175, 179, 0.6), inset 0px -2px 2px rgba(122, 125, 128, 0.2);
    text-transform: capitalize;
}

/* register page style */


/* services paage style */
#services{
    background: #f5f7fa;
}
.cont{
    width: 80%;
}
.recruit{
    background: #14B45C !important;
    text-transform: initial;
}
.perfect-fit{
    margin-top: 70px;
    background: #FFFFFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    border-top: 3px solid  #14B45C;
    position: relative;
    z-index: 5;
}
.perfect-fit h6{
    color: #1C1F28;
    text-align: center;
    font-size: 20px;
    padding-top: 45px;
}
.perfect-fit p{
    color: #A1A4AC;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
}
.perfect-fit .lets-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
    margin-top: -100px;
}
.perfect-fit .link-style-service{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.perfect-fit .link-style-service a{
    cursor: pointer;
    color: #DADADA;
}
.perfect-fit .link-style-service a:hover{
    color: #14B45C;
    transition: ease-in 0.5s;
}
.fit{
    width: 90%;
}
#serve-footer{
    background: url(images/footer.png);
    background-size: cover;
    margin-top: -230px;
    padding-bottom: 20px;
}
#serve-footer .second{
    padding-top: 300px;
}
.oval-left-services{
    position: absolute;
    right: 95.62%;
    top: 600px;
    height: 600px;
    left: -26.71%;
    background-repeat: no-repeat;
    background: url(images/Oval-4.png);
}
@media only screen and (max-width: 1300px) {
    .oval-left-services{
        position: absolute;
        right: 95.62%;
        top: 600px;
        height: 600px;
        left: -21.71%;
        background-repeat: no-repeat;
        background: url(images/Oval-4.png);
    }  
}
.oval-right-services{
    position: absolute;
    top: 1000px;
    left: 95.62%;
    width: 50px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(images/oval-5.png)
}
.paper-hat{
    position: absolute;
    background: url(images/PaperHat.png);
    width: 246px;
    top: 230px;
    left: 950px;
    height: 172px;
}
.perfect-fit .mobile-fit .mobile-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
}
.perfect-fit .mobile-fit .link-style-mobile{
    display: flex;
    justify-content: space-evenly;
    margin-top: -120px;
}
.perfect-fit .mobile-fit p{
    color: #A1A4AC;
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px; 
    text-align: center;
}
.perfect-fit .mobile-fit h6{
    color: #1C1F28;
    text-align: center;
    font-size: 20px;
}
.perfect-fit .mobile-fit .link-style-mobile a{
    cursor: pointer;
    color: #DADADA;
}
#serve-footer .mobile{
    padding-top: 230px;
}

/* How it works style */
#works-section{
    background: #57A773;
    padding-bottom: 50px;
}
.works-video{
    background: #E3E3E3;
    border-radius: 32px;
    height: 300px;
    width: 500px;
    margin-top: 30px;
    margin-left: 230px;
}
.works-video-mobile{
    background: #E3E3E3;
    border-radius: 10px;
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.handy{
    position: absolute;
    width: 241px;
    height: 173px;
    left: 20px;
    top: 650px;
    background: url(images/Paperhand.png);
}
.pen-tool{
    position: absolute;
    width: 175px;
    height: 179px;
    left: 150px;
    top: 240px;
    background: url(images/PenTool.png);
}
.oval-left-works{
    position: absolute;
    right: 95.62%;
    top: 750px;
    height: 600px;
    left: -26.71%;
    background-repeat: no-repeat;
    background: url(images/Oval-4.png);
}
@media only screen and (max-width: 1300px) {
    .oval-left-works{
        position: absolute;
        right: 95.62%;
        top: 750px;
        height: 600px;
        left: -21.71%;
        background-repeat: no-repeat;
        background: url(images/Oval-4.png);
    }  
}
.oval-right-works{
    position: absolute;
    top: 800px;
    left: 95.62%;
    width: 50px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(images/oval-5.png)
}
.perfect-fit-works{
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    border-top: 3px solid  #14B45C;
    position: relative;
    z-index: 5;
}
.perfect-fit-works h6{
    color: #1C1F28;
    text-align: center;
    font-size: 20px;
    padding-top: 45px;
}
.perfect-fit-works p{
    color: #A1A4AC;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
}
.perfect-fit-works .lets-go{
    background: #14B45C;
    color: #ffffff;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    text-transform: initial;
    margin-top: -100px;
}
.perfect-fit-works .link-style-service{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.perfect-fit-works .link-style-service a{
    cursor: pointer;
    color: #DADADA;
}
.perfect-fit-works .link-style-service a:hover{
    color: #14B45C;
    transition: ease-in 0.5s;
}
#serve-footer .second-works{
    padding-top: 240px;
}
#serve-footer .mobile-works{
    padding-top: 190px;
}

/* post a job section */
.my-design{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(166, 165, 165, 0.23);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 240px !important;
    height: 166px !important;
}
.first-half{
    /* width: 50% !important; */
    margin-left: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
.second-half{
    /* width: 50%; */
    margin-left: -12px !important;
    left: 0 !important;
    right: 0 !important;
    height: 558.22px;
}
#job .job{
    color: #14b45c;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.4px;
}
#job .day{
    float: left;
    width: 50%;
    padding: 8px 9px;
    color: #9FA3A7;
    border: 1px solid #CDCFD4 ;
    font-size: 13px;
    line-height: 12px;
    cursor: pointer;
}
#job .days{
    float: left;
    width: 50%;
    padding: 8px 9px;
    color: #9FA3A7;
    border: 1px solid #CDCFD4;
    font-size: 13px;
    line-height: 12px;
    cursor: pointer;
}
#job .naira{
    float: left;
    width: 47%;
    padding: 8px 9px;
    color: #9FA3A7;
    border: 1px solid #CDCFD4 ;
    font-size: 13px;
    line-height: 12px;
    cursor: pointer;
}
#job .nairas{
    float: left;
    width: 53%;
    padding: 8px 9px;
    color: #9FA3A7;
    border: 1px solid #CDCFD4;
    font-size: 13px;
    line-height: 12px;
    cursor: pointer;
}
.my-design-mobile{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(166, 165, 165, 0.23);
    border-radius: 5px;
    height: 150px !important;
    
}
.title .browser-default{
    background: #FFFFFF;
    padding: 12px 10px;
    width: 100%;
    display: inline-block;
    border-color: rgba(50, 54, 67, 0.2);
    border: none;
    box-sizing: border-box;   
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2);
}
.title .browser-default:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2);
    outline: 0 none;
}
input:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2);
    outline: 0 none;
}
#textarea1{
    padding: 10px 10px;
    background-color: white;
    height: 100px;
    border: none;
    resize: none;
    box-shadow: 0px 5px 30px rgba(133, 135, 143, 0.2);
    border-color: rgba(50, 54, 67, 0.2);
}
textarea:focus{
    outline: 0 none;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    border-color: rgba(50, 54, 67, 0.2);
}
.select-css{
    background: #14b45c;
    color: white;
    padding-left: 18px;
    letter-spacing: 2.4px;
    line-height: 14px;
    font-size: 13px;
    appearance: none; 
    -webkit-appearance: none;
    background-image: url(images/chevron-down.png);
    background-repeat: no-repeat;
    background-position: 150px;
}
.select-css-mobile{
    background: #14b45c;
    color: white;
    padding-left: 15px;
    letter-spacing: 1.2px;
    line-height: 14px;
    font-size: 13px;
    appearance: none; 
    -webkit-appearance: none;
    background-image: url(images/chevron-down.png);
    background-repeat: no-repeat;
    background-position: 110px;
}
.custom-select-wrapper-mobile {
    position: relative
   }
.custom-select-wrapper {
    position: relative
   }
.custom-select-wrapper:after {
    border-left: 1px solid white;
    content:"\00a0";
    position: absolute;
    top: 13px;
    right: 55px;
    opacity: 0.5;
    z-index: 2;
    display:block;
    height: 20px;
  }
  .custom-select-wrapper-mobile:after {
    border-left: 1px solid white;
    content:"\00a0";
    position: absolute;
    top: 11px;
    right: 37px;
    opacity: 0.5;
    z-index: 2;
    display:block;
    height: 20px;
  }
.select-css option{
    background: white;
    color: gray;
    line-height: 14px;
    letter-spacing: 2.4px;
}
input[type=range]+.thumb {
    background-color: #FEB062 !important;
}
input[type=range]::-webkit-slider-thumb{
    background-color: #FEB062;
}
.noUi-connect{
    background: #FEB062 !important;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle{
    background: #FEB062;
}
.noUi-target .noUi-horizontal .noUi-tooltip{
    background-color: #FEB062;
}
.noUi-horizontal{
    height: 3px !important;
    border: none !important;
}
.noUi-target{
    border-radius: 0px !important;
    box-shadow: none !important;
    background: #e5e5e5 !important;
}
.noUi-horizontal .noUi-handle {
    width: 15px !important;
    height: 15px !important;
    left: 5px !important;
    border-radius: 50% !important;
    top: -6px;
    border: none !important;
    transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) !important;
}
.noUi-horizontal .noUi-handle-lower {
        margin-left: 12px !important;
}
.noUi-state-drag *{
    border: none !important;
    outline: none !important;
}
.noUi-handle{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
.noUi-handle:after, .noUi-handle:before {
    content: "";
    display: none !important;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #feb062 !important;
    left: 14px;
    top: 6px;
}
.theme-green .back-bar .pointer {
    background-image: linear-gradient(to bottom, #feb062, #feb062)!important;
    border: none!important;
}
.theme-green .back-bar .selected-bar {
    background-image: linear-gradient(to bottom, #feb062, #feb062)!important;
}
/* .input-field textarea:focus + label{
    color: #1a00d4;
} */

/* profiile section */
.oval-left-profile{
    position: absolute;
    right: 95.62%;
    top: 900px;
    height: 600px;
    left: -26.71%;
    background-repeat: no-repeat;
    background: url(images/Oval-4.png);
}
.oval-right-profile{
    position: absolute;
    top: 1800px;
    left: 95.62%;
    width: 50px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(images/oval-5.png)
}
#footer-profile{
    background: url(images/footer.png);
    background-size: cover;
    margin-top: 40px;
    padding-bottom: 20px;
}
#footer-profile .second{
    padding-top: 200px;
}
#footer-profile-mobile{
    background: url(images/footer.png);
    background-size: cover;
    margin-top: 40px;
    padding-bottom: 20px;
}
#footer-profile-mobile .mobile{
    padding-top: 50px;
}

/* faq section */
.collapsible-header {
    justify-content: space-between;
    background: linear-gradient(180deg, #0F8846 0%, rgba(71, 204, 130, 0.9) 100%) !important;
    /* box-shadow: 1px 1px 30px rgba(15, 136, 70, 0.5); */
    color: white;
    padding: 20px;
    /* padding-left: 30px; */
    /* border-radius: 10px !important; */
  }
.collapsible-header i {
    position: relative;
    right: 0px;
}
.collapsible{
    background: #0D1117;
}
.collapsible li{
    margin: 20px !important;
    /* width: 800px !important; */
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    /* border-radius: 10px !important; */
}

.collapsible li.active{
    color: black !important;
    background: white !important;
}
.Faq{
    width: 78%;
}

/* Landing page style */
.hire-style{
    margin-left: 0px !important;
    left: 0px !important;
    right: 0px !important;
    padding: 0px !important;
    position: relative;
}
.work-style{
    margin-left: 0px !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0px !important;
    position: relative;
}
.bottom{
    position: absolute;
    top: 40px;
    left: 120px;
}
.hire-link{
    position: absolute;
    top: 130px;
    left: 200px;
    border: 2px solid #212121;
    padding: 10px 70px;
    color: #1C1F28;
    line-height: 42px;
    font-size: 23px;
    letter-spacing: 1px;
}
.work-link{
    position: absolute;
    top: 130px;
    left: 200px;
    border: 2px solid #212121;
    padding: 10px 70px;
    color: #1C1F28;
    line-height: 42px;
    font-size: 23px;
    letter-spacing: 1px;
}
