body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
nav{
    background-color: #ffffff !important;
    /* height: 160.81px !important; */
}
.nav{
    width: 80% !important;
}
nav a{
    color:#272A37 !important;
    font-size: 14px !important;
}
.post{
    background-color: #14B45C !important;
    color: #fff !important;
    text-transform: capitalize !important;
}
#first{
    /* transform: rotate(-20deg); */
}
#first .input-field input:focus{
    border-bottom: 1px solid #14B45C !important;
}
.palette{
    position: absolute;
    width: 155px;
    height: 140px;
    left: 70px;
    top: 100px;
    background: url(images/Palette.png);
}
.back1{
    position: absolute;
    width: 198px;
    height: 214px;
    left: 1100px;
    top: 100px;
    background: url(images/bacgr.png);
}
.arc{
    position: absolute;
    width: 40px;
    height: 34px;
    left: 930px;
    top: 720px;
    background: url(images/arc.png);

}
#second{
    background: #e5e5e5;
}
#second .second{
    width: 80%;
}
@media only screen and (min-width: 993px){
.row .col.l3 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
#second h4{
    text-align: center;
    line-height: 40px;
    color: #1C1F28;
    padding: 50px;
}
#second .illustrations{
    background: #ffffff;
}
#second .illustrations img{
    margin-top: 60px;
    margin-left: 37px;
}
#second .illustrations p{
    margin-top: 10px;
    margin-left: 37px;
    padding-bottom: 50px;
    font-weight: bold;
    line-height: 28px;
    color: #1C1F28;
}
.paint{
    position: absolute;
    width: 316px;
    height: 257px;
    left: 1000px;
    top: 700px;
    background: url(images/Fill.png);
}
#works h4{
    text-align: center;
    line-height: 40px;
    color: #1C1F28;
    padding: 30px;
}